.mySection {
  max-width: 1024px;
  height: 100vh;
  display: flex;
  background-color: floralwhite; }
  .mySection .container-fluid {
    padding: 6vh 0 0 0;
    margin: 0; }
    .mySection .container-fluid .row {
      margin: 0;
      padding: 0;
      position: relative; }

.navbar {
  width: 100%;
  padding: 0px 100px 0 50px;
  margin: 0;
  background-color: #00ffb0;
  height: 6vh; }

.navbar-brand {
  background-color: floralwhite;
  height: 100%;
  width: 6vh;
  font-family: Bruno Ace SC;
  font-size: 2.5vh;
  text-align: center;
  line-height: 5vh;
  margin: 0; }

.nav-item {
  padding-top: 0;
  margin: 0;
  width: 10vh;
  height: 6vh; }
  .nav-item .active {
    padding-top: 0;
    margin: 0;
    background-color: floralwhite;
    height: 6vh; }

.nav-link {
  padding-top: 0;
  margin: 0;
  font-size: 2.2vh;
  line-height: 6vh;
  height: 0;
  font-family: Bruno Ace SC;
  text-align: center;
  color: #404040; }

#cardsGroup {
  padding: 0 5vw 0 0;
  height: 40vh;
  position: relative; }

.gameCard {
  position: relative;
  top: 50%;
  border-radius: 2vw;
  -webkit-box-shadow: -1vw 1vw 0.5vw 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1vw 1vw 0.5vw 0 rgba(0, 0, 0, 0.25);
  box-shadow: -1vw 1vw 0.5vw 0 rgba(0, 0, 0, 0.25); }

@keyframes card21Anim {
  from {
    margin-right: 30vw;
    margin-left: -30vw; }
  to {
    margin-right: 0vw;
    margin-left: 0vw; } }

@keyframes card19Anim {
  from {
    margin-left: 25vw; }
  to {
    margin-left: 3vw; } }
  .gameCard.type21 {
    float: right;
    width: 40vw;
    height: 40vw;
    margin-top: -20vw;
    z-index: 3;
    animation-name: card21Anim;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    background-color: #00ffb0; }
    .gameCard.type21 .innerCard {
      position: absolute;
      margin: 2vw 2vw 2vw 2vw;
      width: 36vw;
      height: 36vw;
      background-color: #E9E4D9;
      border-radius: 1vw;
      z-index: 4; }
  .gameCard.type20 {
    float: right;
    margin: 2.5vw -5vw 0 -30vw;
    width: 35vw;
    height: 35vw;
    margin-top: -17.5vw;
    z-index: 2;
    background-color: #e9df00; }
    .gameCard.type20 .innerCard {
      position: absolute;
      margin: 1.75vw 1.75vw 1.75vw 1.75vw;
      width: 31.5vw;
      height: 31.5vw;
      background-color: #E9E4D9;
      border-radius: 1vw;
      z-index: 4; }
  .gameCard.type19 {
    float: left;
    margin: 5vw -30vw 0 3vw;
    width: 30vw;
    height: 30vw;
    margin-top: -15vw;
    z-index: 1;
    animation-name: card19Anim;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    background-color: #e9df00; }
    .gameCard.type19 .innerCard {
      position: absolute;
      margin: 1.5vw 1.5vw 1.5vw 1.5vw;
      width: 27vw;
      height: 27vw;
      background-color: #E9E4D9;
      border-radius: 1vw;
      z-index: 4; }

.cardNumber {
  text-align: center;
  font-family: Bruno Ace SC; }
  .cardNumber.firstCard {
    font-size: 9.5vw;
    line-height: 38vw;
    z-index: 5; }
  .cardNumber.secondCard {
    font-size: 8.4vw;
    line-height: 33vw;
    z-index: 4; }
  .cardNumber.thirdCard {
    font-size: 7.2vw;
    line-height: 28vw;
    z-index: 3; }

@keyframes hpTextAnim {
  from {
    opacity: 0;
    padding-top: 10vh; }
  to {
    opacity: 1;
    padding-top: 0; } }

#homePageText {
  padding: 5vh 0 0 0;
  height: 40vh;
  position: relative;
  font-family: Bruno Ace SC;
  text-align: center; }
  #homePageText .text1 {
    font-size: 9vw;
    padding-bottom: 5vh; }
  #homePageText .text2 {
    font-size: 7vw; }

.textsGroup {
  animation-name: hpTextAnim;
  animation-duration: 2s;
  animation-timing-function: ease-out; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  color: black;
  text-decoration: none; }

.toRules {
  background-color: #00ffb0;
  bottom: 0;
  width: 100%;
  font-family: Bruno Ace SC;
  height: 10vh;
  position: absolute !important;
  text-align: center;
  align-items: center; }

@keyframes arrowDownAnimation {
  from {
    padding-top: 0vh; }
  to {
    padding-top: 0.8vh; } }
  .toRules img {
    animation-name: arrowDownAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }
  .toRules div {
    font-size: 5vw;
    line-height: 5vh; }

.hidden {
  opacity: 0; }

.showTime {
  animation-name: ruleshowAnimation;
  animation-duration: 1s; }

@keyframes ruleshowAnimation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.rule1 {
  height: 23vh; }
  .rule1 .rule1Text {
    line-height: 5vh;
    font-size: 4vw;
    text-align: center;
    width: 100%;
    height: 5vh;
    font-family: Bruno Ace SC; }
  .rule1 .rule1Image {
    position: relative;
    width: 100%;
    height: 18vh;
    background-color: #c4c4c4; }
    .rule1 .rule1Image .gameCard {
      position: absolute;
      top: 50%;
      border-radius: 1vw;
      -webkit-box-shadow: -1vw 1vw 0.5vw 0 rgba(0, 0, 0, 0.25);
      -moz-box-shadow: -1vw 1vw 0.5vw 0 rgba(0, 0, 0, 0.25);
      box-shadow: -1vw 1vw 0.5vw 0 rgba(0, 0, 0, 0.25); }

@keyframes rule1Animation {
  from {
    margin-top: -12.5vw; }
  to {
    margin-top: -15.5vw; } }
      .rule1 .rule1Image .gameCard.type3 {
        right: 5vw;
        width: 25vw;
        height: 25vw;
        margin-top: -12.5vw;
        z-index: 3;
        background-color: #00ffb0;
        -webkit-box-shadow: -2vw 2vw 0.5vw 0 rgba(0, 0, 0, 0.25);
        -moz-box-shadow: -2vw 2vw 0.5vw 0 rgba(0, 0, 0, 0.25);
        box-shadow: -2vw 2vw 0.5vw 0 rgba(0, 0, 0, 0.25);
        animation-name: rule1Animation;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out; }
        .rule1 .rule1Image .gameCard.type3 .innerCard {
          position: absolute;
          margin: 1vw 1vw 1vw 1vw;
          width: 23vw;
          height: 23vw;
          background-color: #E9E4D9;
          border-radius: 1vw;
          z-index: 4; }
      .rule1 .rule1Image .gameCard.type2 {
        right: 38vw;
        width: 23vw;
        height: 23vw;
        margin-top: -11.5vw;
        z-index: 3;
        background-color: #e9df00; }
        .rule1 .rule1Image .gameCard.type2 .innerCard {
          position: absolute;
          margin: 1vw 1vw 1vw 1vw;
          width: 21vw;
          height: 21vw;
          background-color: #E9E4D9;
          border-radius: 1vw;
          z-index: 4; }
      .rule1 .rule1Image .gameCard.type1 {
        left: 8vw;
        width: 23vw;
        height: 23vw;
        margin-top: -11.5vw;
        z-index: 3;
        background-color: #e9df00; }
        .rule1 .rule1Image .gameCard.type1 .innerCard {
          position: absolute;
          margin: 1vw 1vw 1vw 1vw;
          width: 21vw;
          height: 21vw;
          background-color: #E9E4D9;
          border-radius: 1vw;
          z-index: 4; }
    .rule1 .rule1Image .cardNumber {
      text-align: center;
      font-family: Bruno Ace SC; }
      .rule1 .rule1Image .cardNumber.firstCard {
        font-size: 5vw;
        line-height: 23vw;
        z-index: 5; }
      .rule1 .rule1Image .cardNumber.secondCard {
        font-size: 4.5vw;
        line-height: 23vw;
        z-index: 4; }
      .rule1 .rule1Image .cardNumber.thirdCard {
        font-size: 4.5vw;
        line-height: 23vw;
        z-index: 3; }

.rule2 {
  height: 32vh; }
  .rule2 .rule1Text {
    padding-top: 2vh;
    font-size: 4vw;
    text-align: center;
    width: 100%;
    height: 12vh;
    font-family: Bruno Ace SC; }
  .rule2 .rule1Image {
    position: relative;
    width: 100%;
    height: 18vh;
    background-color: #c4c4c4; }
    .rule2 .rule1Image .gameCard {
      position: absolute;
      top: 50%;
      border-radius: 1vw;
      -webkit-box-shadow: -1vw 1vw 0.5vw 0 rgba(0, 0, 0, 0.25);
      -moz-box-shadow: -1vw 1vw 0.5vw 0 rgba(0, 0, 0, 0.25);
      box-shadow: -1vw 1vw 0.5vw 0 rgba(0, 0, 0, 0.25); }
      .rule2 .rule1Image .gameCard.type3 {
        left: 10vw;
        width: 15vw;
        height: 15vw;
        margin-top: -7.5vw;
        z-index: 3;
        background-color: #00ffb0;
        -webkit-box-shadow: -1.5vw 1.5vw 0.5vw 0 rgba(0, 0, 0, 0.25);
        -moz-box-shadow: -1.5vw 1.5vw 0.5vw 0 rgba(0, 0, 0, 0.25);
        box-shadow: -1.5vw 1.5vw 0.5vw 0 rgba(0, 0, 0, 0.25); }
        .rule2 .rule1Image .gameCard.type3 .innerCard {
          position: absolute;
          margin: 0.5vw 0.5vw 0.5vw 0.5vw;
          width: 14vw;
          height: 14vw;
          background-color: #E9E4D9;
          border-radius: 1vw;
          z-index: 4; }
      .rule2 .rule1Image .gameCard.typeYellow {
        width: 13vw;
        height: 13vw;
        margin-top: -6.5vw;
        z-index: 3;
        background-color: #e9df00; }
        .rule2 .rule1Image .gameCard.typeYellow .innerCard {
          position: absolute;
          margin: 0.4vw 0.4vw 0.4vw 0.4vw;
          width: 12vw;
          height: 12vw;
          background-color: #E9E4D9;
          border-radius: 1vw;
          z-index: 4; }

@keyframes cardArrowDownAnimation {
  from {
    margin-top: -4vh; }
  to {
    margin-top: -2vh; } }
        .rule2 .rule1Image .gameCard.typeYellow img {
          animation-name: arrowDownAnimation;
          animation-duration: 0.5s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
          position: absolute;
          margin-top: -4vh;
          left: 50%;
          margin-left: -12px; }
        .rule2 .rule1Image .gameCard.typeYellow.card4 {
          left: 33vw; }
        .rule2 .rule1Image .gameCard.typeYellow.card5 {
          left: 55vw; }
        .rule2 .rule1Image .gameCard.typeYellow.card6 {
          left: 77vw; }
    .rule2 .rule1Image .cardNumber {
      text-align: center;
      font-family: Bruno Ace SC; }
      .rule2 .rule1Image .cardNumber.greenCard {
        font-size: 4vw;
        line-height: 15vw;
        z-index: 5; }
      .rule2 .rule1Image .cardNumber.yellowCard {
        font-size: 3.5vw;
        line-height: 13vw;
        z-index: 4; }

.rule3 {
  height: 32vh; }
  .rule3 .rule1Text {
    padding-top: 2vh;
    font-size: 4vw;
    text-align: center;
    width: 100%;
    height: 12vh;
    font-family: Bruno Ace SC; }
  .rule3 .rule1Image {
    position: relative;
    width: 100%;
    height: 18vh;
    background-color: #c4c4c4; }
    .rule3 .rule1Image .gameCard {
      position: absolute;
      top: 50%;
      border-radius: 1vw;
      -webkit-box-shadow: -1vw 1vw 0.5vw 0 rgba(0, 0, 0, 0.25);
      -moz-box-shadow: -1vw 1vw 0.5vw 0 rgba(0, 0, 0, 0.25);
      box-shadow: -1vw 1vw 0.5vw 0 rgba(0, 0, 0, 0.25); }

@keyframes rule3Animation {
  50% {
    left: 37.5vw; }
  60% {
    left: 39.5vw; }
  70% {
    left: 35.5vw; }
  80% {
    left: 39.5vw; }
  90% {
    left: 35.5vw; }
  100% {
    left: 37.5vw; } }
      .rule3 .rule1Image .gameCard.type21red {
        left: 37.5vw;
        width: 25vw;
        height: 25vw;
        margin-top: -12.5vw;
        z-index: 3;
        background-color: #ff5c00;
        -webkit-box-shadow: -2vw 2vw 0.5vw 0 rgba(0, 0, 0, 0.25);
        -moz-box-shadow: -2vw 2vw 0.5vw 0 rgba(0, 0, 0, 0.25);
        box-shadow: -2vw 2vw 0.5vw 0 rgba(0, 0, 0, 0.25);
        animation-name: rule3Animation;
        animation-duration: 2s;
        animation-iteration-count: infinite; }
        .rule3 .rule1Image .gameCard.type21red .innerCard {
          position: absolute;
          margin: 1vw 1vw 1vw 1vw;
          width: 23vw;
          height: 23vw;
          background-color: #E9E4D9;
          border-radius: 1vw;
          z-index: 4; }
      .rule3 .rule1Image .gameCard.type20green {
        left: 5vw;
        width: 23vw;
        height: 23vw;
        margin-top: -11.5vw;
        z-index: 3;
        background-color: #00ffb0; }
        .rule3 .rule1Image .gameCard.type20green .innerCard {
          position: absolute;
          margin: 1vw 1vw 1vw 1vw;
          width: 21vw;
          height: 21vw;
          background-color: #E9E4D9;
          border-radius: 1vw;
          z-index: 4; }
      .rule3 .rule1Image .gameCard.type1 {
        left: 8vw;
        width: 23vw;
        height: 23vw;
        margin-top: -11.5vw;
        z-index: 3;
        background-color: #e9df00; }
        .rule3 .rule1Image .gameCard.type1 .innerCard {
          position: absolute;
          margin: 1vw 1vw 1vw 1vw;
          width: 21vw;
          height: 21vw;
          background-color: #E9E4D9;
          border-radius: 1vw;
          z-index: 4; }
    .rule3 .rule1Image .cardNumber {
      text-align: center;
      font-family: Bruno Ace SC; }
      .rule3 .rule1Image .cardNumber.firstCard {
        font-size: 5vw;
        line-height: 24vw;
        z-index: 5; }
      .rule3 .rule1Image .cardNumber.secondCard {
        font-size: 4.5vw;
        line-height: 23vw;
        z-index: 4; }
      .rule3 .rule1Image .cardNumber.thirdCard {
        font-size: 4.5vw;
        line-height: 23vw;
        z-index: 3; }

.startButton {
  position: relative;
  height: 4vh; }

@keyframes startButtonAnimation {
  from {
    background-color: floralwhite; }
  to {
    background-color: #00ffb0; } }
  .startButton a {
    animation-name: startButtonAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-align: center;
    font-family: Bruno Ace SC;
    font-size: 3vh;
    width: 45vw;
    margin: 1vh auto 0 auto;
    line-height: 4vh;
    border: 1vw solid #00ffb0;
    border-radius: 15vw;
    -webkit-box-shadow: -1vw 1vw 0.5vw 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -1vw 1vw 0.5vw 0 rgba(0, 0, 0, 0.25);
    box-shadow: -1vw 1vw 0.5vw 0 rgba(0, 0, 0, 0.25);
    background-color: floralwhite; }
  .startButton a:active {
    background-color: #00ffb0; }

.rankings {
  height: 48vh; }
  .rankings .rankingText {
    padding-top: 2vh;
    width: 100%;
    font-family: Bruno Ace SC;
    font-size: 5vw;
    text-align: center; }
  .rankings .rankingTable {
    padding-left: 10%;
    width: 90%;
    height: 35vh; }

.mainGame {
  max-width: 100vw;
  height: 30vh;
  position: relative;
  overflow-x: hidden; }
  .mainGame .moveOrder {
    width: 100%;
    height: 14vh;
    margin-bottom: -7vh; }
    .mainGame .moveOrder .startingCard {
      position: absolute;
      left: 50%;
      margin-left: -7vh;
      width: 14vh;
      height: 14vh;
      z-index: 2;
      background-color: #00ffb0;
      border-radius: 1vh; }
      .mainGame .moveOrder .startingCard .innerCard {
        position: absolute;
        margin: 0.8vh 0.8vh 0.8vh 0.8vh;
        width: 12.4vh;
        height: 12.4vh;
        background-color: #E9E4D9;
        border-radius: 0.5vh;
        z-index: 3; }
        .mainGame .moveOrder .startingCard .innerCard .startingCardNumber {
          text-align: center;
          font-family: Bruno Ace SC;
          font-size: 3vh;
          line-height: 13vh;
          z-index: 5; }
    .mainGame .moveOrder .orderingCard {
      position: absolute;
      left: 50%;
      margin-left: -10vh;
      width: 20vh;
      height: 14vh;
      background-color: #00ffb0;
      border-radius: 1vh; }
      .mainGame .moveOrder .orderingCard .innerCard {
        position: absolute;
        margin: 0.5vh 0.5vh 0.5vh 0.5vh;
        width: 19vh;
        height: 13vh;
        background-color: #E9E4D9;
        border-radius: 0.5vh; }
        .mainGame .moveOrder .orderingCard .innerCard .orderingCardText {
          text-align: center;
          font-family: Bruno Ace SC;
          font-size: 2vh;
          line-height: 7vh; }
  .mainGame .cardsRow {
    height: 23vh;
    margin-left: -5vw;
    margin-right: -5vw;
    width: 110vw;
    background-color: #c4c4c4;
    border: 1vw solid #00ffb0;
    border-left-color: transparent;
    border-right-color: transparent;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center; }

.playCard {
  flex: 1;
  max-width: 25vw;
  height: 25vw;
  background-color: #e9df00;
  margin: 0 3vw 0 3vw; }

@keyframes selected {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(0, -10%); } }
  .playCard.selected {
    background-color: #00ffb0; }
  .playCard.redCard {
    background-color: #ff5c00; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; }

.fadeOut {
  animation-name: fadeOut;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; }

.underGameText {
  position: relative;
  width: 100%;
  height: 15vh; }
  .underGameText .orderAskText {
    padding-top: 2vh;
    width: 100%;
    font-family: Bruno Ace SC;
    font-size: 5vw;
    text-align: center; }
  .underGameText .orderBtn {
    position: absolute;
    top: 50%;
    text-align: center;
    font-family: Bruno Ace SC;
    font-size: 2vh;
    width: 30vw;
    height: 5vh;
    line-height: 4vh;
    border: 1vw solid #00ffb0;
    border-radius: 15vw;
    -webkit-box-shadow: -1vw 1vw 0.5vw 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -1vw 1vw 0.5vw 0 rgba(0, 0, 0, 0.25);
    box-shadow: -1vw 1vw 0.5vw 0 rgba(0, 0, 0, 0.25);
    background-color: floralwhite; }

@keyframes orderSelectAnimationFirst {
  from {
    background-color: #00ffb0; }
  to {
    background-color: floralwhite; } }

@keyframes orderSelectAnimationSecond {
  from {
    background-color: floralwhite; }
  to {
    background-color: #00ffb0; } }
    .underGameText .orderBtn.first {
      margin-left: 15vw;
      animation-name: orderSelectAnimationFirst;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-out; }
    .underGameText .orderBtn.second {
      margin-left: 55vw;
      animation-name: orderSelectAnimationSecond;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in; }

.gameOrderingControls {
  position: relative;
  width: 100%;
  height: 15vh; }
  .gameOrderingControls .orderBtn {
    position: absolute;
    top: 50%;
    left: 35vw;
    text-align: center;
    font-family: Bruno Ace SC;
    font-size: 2vh;
    width: 30vw;
    height: 5vh;
    line-height: 4vh;
    border: 1vw solid #00ffb0;
    border-radius: 15vw;
    -webkit-box-shadow: -1vw 1vw 0.5vw 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -1vw 1vw 0.5vw 0 rgba(0, 0, 0, 0.25);
    box-shadow: -1vw 1vw 0.5vw 0 rgba(0, 0, 0, 0.25);
    background-color: floralwhite; }

@keyframes orderSelectAnimation {
  from {
    background-color: #00ffb0; }
  to {
    background-color: floralwhite; } }
    .gameOrderingControls .orderBtn.confirmation {
      animation-name: orderSelectAnimation;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-out; }
    .gameOrderingControls .orderBtn.waiting {
      border-color: floralwhite; }

@media (min-width: 1025px) {
  #cardsGroup {
    padding: 0;
    height: 100vh;
    position: relative; }
  .gameCard {
    position: relative;
    top: 50%;
    border-radius: 2vh;
    -webkit-box-shadow: -1vw 1vw 0.5vw 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -1vw 1vw 0.5vw 0 rgba(0, 0, 0, 0.25);
    box-shadow: -1vw 1vw 0.5vw 0 rgba(0, 0, 0, 0.25); }
  @keyframes card21AnimWide {
    from {
      margin-right: 15vw; }
    to {
      margin-right: 0vw; } }
  @keyframes card20AnimWide {
    from {
      margin-right: -15vw;
      margin-left: -15vw; }
    to {
      margin-right: -5vw;
      margin-left: 0vw; } }
  @keyframes card19AnimWide {
    from {
      margin-right: -15vw; }
    to {
      margin-right: -5vw; } }
    .gameCard.type21 {
      float: right;
      width: 40vh;
      height: 40vh;
      margin-top: -27.5vh;
      z-index: 3;
      animation-name: card21AnimWide;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      background-color: #00ffb0; }
      .gameCard.type21 .innerCard {
        position: absolute;
        margin: 1.5vh 1.5vh 1.5vh 1.5vh;
        width: 37vh;
        height: 37vh;
        background-color: #E9E4D9;
        border-radius: 1vh;
        z-index: 4; }
    .gameCard.type20 {
      float: right;
      margin: -25vh -5vw 0 0;
      width: 35vh;
      height: 35vh;
      z-index: 2;
      animation-name: card20AnimWide;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      background-color: #e9df00; }
      .gameCard.type20 .innerCard {
        position: absolute;
        margin: 1.25vh 1.25vh 1.25vh 1.25vh;
        width: 32.5vh;
        height: 32.5vh;
        background-color: #E9E4D9;
        border-radius: 1vh;
        z-index: 4; }
    .gameCard.type19 {
      float: right;
      margin: -22.5vh -5vw 0 3vw;
      width: 30vh;
      height: 30vh;
      z-index: 1;
      animation-name: card19AnimWide;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      background-color: #e9df00; }
      .gameCard.type19 .innerCard {
        position: absolute;
        margin: 1vh 1vh 1vh 1vh;
        width: 28vh;
        height: 28vh;
        background-color: #E9E4D9;
        border-radius: 1vh;
        z-index: 4; }
  .cardNumber {
    text-align: center;
    font-family: Bruno Ace SC; }
    .cardNumber.firstCard {
      font-size: 8vh;
      line-height: 38vh;
      z-index: 5; }
    .cardNumber.secondCard {
      font-size: 7.5vh;
      line-height: 33vh;
      z-index: 4; }
    .cardNumber.thirdCard {
      font-size: 7vh;
      line-height: 28vh;
      z-index: 3; }
  @keyframes hpTextAnim {
    from {
      opacity: 0;
      padding-top: 10vh; }
    to {
      opacity: 1;
      padding-top: 0; } }
  #homePageText {
    padding: 10vw 0 0 0;
    height: 40vh;
    position: relative;
    font-family: Bruno Ace SC;
    text-align: center; }
    #homePageText .text1 {
      font-size: 9vh;
      padding-bottom: 5vh; }
    #homePageText .text2 {
      font-size: 7vh; }
  .textsGroup {
    animation-name: hpTextAnim;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
  .toRules {
    background-color: #00ffb0;
    bottom: 0;
    width: 100%;
    font-family: Bruno Ace SC;
    height: 8vh;
    position: absolute !important;
    text-align: center;
    align-items: center; }
  @keyframes arrowDownAnimation {
    from {
      padding-top: 0vh; }
    to {
      padding-top: 0.8vh; } }
    .toRules img {
      animation-name: arrowDownAnimation;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
      animation-direction: alternate; }
    .toRules div {
      font-size: 3vh; } }
