$green: #00ffb0;
$yellow: #e9df00;
$red: #ff5c00;
$ruleImageColor: #c4c4c4;
$nav-text-color: #404040;
$nav-height: 6vh;
$nav-item-width: 10vh;
$main-font: Bruno Ace SC;

.mySection {
  max-width: 1024px;
  height: 100vh;
  display: flex;
  background-color: floralwhite;
  .container-fluid {
    padding: $nav-height 0 0 0;
    margin: 0;
    .row {
      margin: 0;
      padding: 0;
      position: relative;
    }
  }
}

.navbar {
  width: 100%;
  padding: 0px 100px 0 50px;
  margin: 0;
  background-color: $green;
  height: $nav-height;
}

.navbar-brand {
  background-color: floralwhite;
  height: 100%;
  width: $nav-height;
  font-family: Bruno Ace SC;
  font-size: 2.5vh;
  text-align: center;
  line-height: 5vh;
  margin: 0;
}

.nav-item {
  padding-top: 0;
  margin: 0;
  width: $nav-item-width;
  height: $nav-height;
  .active {
    padding-top: 0;
    margin: 0;
    background-color: floralwhite;
    height: $nav-height;
  }
}

.nav-link {
  padding-top: 0;
  margin: 0;
  font-size: 2.2vh;
  line-height: 6vh;
  height: 0;
  font-family: Bruno Ace SC;
  text-align: center;
  color: $nav-text-color;
}


$gameCardbg: #E9E4D9;

#cardsGroup {
  padding: 0 5vw 0 0;
  height: 40vh;
  position: relative;
}

// For mobile and tablets
.gameCard {
  position: relative;
  top: 50%;
  border-radius: 2vw;
  -webkit-box-shadow: -1vw 1vw 0.5vw 0 rgba(0,0,0,0.25);
  -moz-box-shadow: -1vw 1vw 0.5vw 0 rgba(0,0,0,0.25);
  box-shadow: -1vw 1vw 0.5vw 0 rgba(0,0,0,0.25);
  @keyframes card21Anim {
    from {margin-right: 30vw; margin-left: -30vw;}
    to {margin-right: 0vw; margin-left: 0vw;}
  }
  @keyframes card19Anim {
    from {margin-left: 25vw;}
    to {margin-left: 3vw;}
  }
  &.type21 {
    float: right;
    width: 40vw;
    height: 40vw;
    margin-top: -20vw;
    z-index: 3;
    animation-name: card21Anim;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    background-color: $green;
    .innerCard {
      position: absolute;
      margin: 2vw 2vw 2vw 2vw;
      width: 36vw;
      height: 36vw;
      background-color: $gameCardbg;
      border-radius: 1vw;
      z-index: 4;
    }
  }
  &.type20 {
    float: right;
    margin: 2.5vw -5vw 0 -30vw;
    width: 35vw;
    height: 35vw;
    margin-top: -17.5vw;
    z-index: 2;
    background-color: $yellow;
    .innerCard {
      position: absolute;
      margin: 1.75vw 1.75vw 1.75vw 1.75vw;
      width: 31.5vw;
      height: 31.5vw;
      background-color: $gameCardbg;
      border-radius: 1vw;
      z-index: 4;
    }
  }
  &.type19 {
    float: left;
    margin: 5vw -30vw 0 3vw;
    width: 30vw;
    height: 30vw;
    margin-top: -15vw;
    z-index: 1;
    animation-name: card19Anim;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    background-color: $yellow;
    .innerCard {
      position: absolute;
      margin: 1.5vw 1.5vw 1.5vw 1.5vw;
      width: 27vw;
      height: 27vw;
      background-color: $gameCardbg;
      border-radius: 1vw;
      z-index: 4;
    }
  }
}

.cardNumber {
  text-align: center;
  font-family: Bruno Ace SC;
  &.firstCard {
    font-size: 9.5vw;
    line-height: 38vw;
    z-index: 5;
  }
  &.secondCard {
    font-size: 8.4vw;
    line-height: 33vw;
    z-index: 4;
  }
  &.thirdCard {
    font-size: 7.2vw;
    line-height: 28vw;
    z-index: 3;
  }
}

@keyframes hpTextAnim {
  from {opacity: 0; padding-top: 10vh;}
  to {opacity: 1; padding-top: 0;}
}

#homePageText {
  padding: 5vh 0 0 0;
  height: 40vh;
  position: relative;
  font-family: Bruno Ace SC;
  text-align: center;
  .text1 {
    font-size: 9vw;
    padding-bottom: 5vh;
  }
  .text2 {
    font-size: 7vw;
  }
}
.textsGroup {
  animation-name: hpTextAnim;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}
.toRules {
  background-color: $green;
  bottom: 0;
  width: 100%;
  font-family: Bruno Ace SC;
  height: 10vh;
  position: absolute !important;
  text-align: center;
  align-items: center;
  @keyframes arrowDownAnimation {
    from {padding-top: 0vh;}
    to {padding-top: 0.8vh;}
  }
  img {
    animation-name: arrowDownAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  div {
    font-size: 5vw;
    line-height: 5vh;
  }
}

.hidden {
  opacity: 0;
}
.showTime {
  @keyframes ruleshowAnimation {
    from { opacity: 0;}
    to { opacity: 1;}
  }
  animation-name: ruleshowAnimation;
  animation-duration: 1s;
}

.rule1 {
  height: 23vh;
  .rule1Text {
    line-height: 5vh;
    font-size: 4vw;
    text-align: center;
    width: 100%;
    height: 5vh;
    font-family: Bruno Ace SC;
  }
  .rule1Image {
    position: relative;
    width: 100%;
    height: 18vh;
    background-color: $ruleImageColor;
    .gameCard {
      position: absolute;
      top: 50%;
      border-radius: 1vw;
      -webkit-box-shadow: -1vw 1vw 0.5vw 0 rgba(0,0,0,0.25);
      -moz-box-shadow: -1vw 1vw 0.5vw 0 rgba(0,0,0,0.25);
      box-shadow: -1vw 1vw 0.5vw 0 rgba(0,0,0,0.25);
      @keyframes rule1Animation {
        from {
          margin-top: -12.5vw;
        }
        to {
          margin-top: -15.5vw;
        }
      } 
      &.type3 {
        right: 5vw;
        width: 25vw;
        height: 25vw;
        margin-top: -12.5vw;
        z-index: 3;
        background-color: $green;
        -webkit-box-shadow: -2vw 2vw 0.5vw 0 rgba(0,0,0,0.25);
        -moz-box-shadow: -2vw 2vw 0.5vw 0 rgba(0,0,0,0.25);
        box-shadow: -2vw 2vw 0.5vw 0 rgba(0,0,0,0.25);
        animation-name: rule1Animation;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        .innerCard {
          position: absolute;
          margin: 1vw 1vw 1vw 1vw;
          width: 23vw;
          height: 23vw;
          background-color: $gameCardbg;
          border-radius: 1vw;
          z-index: 4;
        }
      }
      &.type2 {
        right: 38vw;
        width: 23vw;
        height: 23vw;
        margin-top: -11.5vw;
        z-index: 3;
        background-color: $yellow;
        .innerCard {
          position: absolute;
          margin: 1vw 1vw 1vw 1vw;
          width: 21vw;
          height: 21vw;
          background-color: $gameCardbg;
          border-radius: 1vw;
          z-index: 4;
        }
      }
      &.type1 {
        left: 8vw;
        width: 23vw;
        height: 23vw;
        margin-top: -11.5vw;
        z-index: 3;
        background-color: $yellow;
        .innerCard {
          position: absolute;
          margin: 1vw 1vw 1vw 1vw;
          width: 21vw;
          height: 21vw;
          background-color: $gameCardbg;
          border-radius: 1vw;
          z-index: 4;
        }
      }
    }
    .cardNumber {
      text-align: center;
      font-family: Bruno Ace SC;
      &.firstCard {
        font-size: 5vw;
        line-height: 23vw;
        z-index: 5;
      }
      &.secondCard {
        font-size: 4.5vw;
        line-height: 23vw;
        z-index: 4;
      }
      &.thirdCard {
        font-size: 4.5vw;
        line-height: 23vw;
        z-index: 3;
      }
    }
  }
}

.rule2 {
  height: 32vh;
  .rule1Text {
    padding-top: 2vh;
    font-size: 4vw;
    text-align: center;
    width: 100%;
    height: 12vh;
    font-family: Bruno Ace SC;
  }
  .rule1Image {
    position: relative;
    width: 100%;
    height: 18vh;
    background-color: $ruleImageColor;
    
    .gameCard {
      position: absolute;
      top: 50%;
      border-radius: 1vw;
      -webkit-box-shadow: -1vw 1vw 0.5vw 0 rgba(0,0,0,0.25);
      -moz-box-shadow: -1vw 1vw 0.5vw 0 rgba(0,0,0,0.25);
      box-shadow: -1vw 1vw 0.5vw 0 rgba(0,0,0,0.25);
      &.type3 {
        left: 10vw;
        width: 15vw;
        height: 15vw;
        margin-top: -7.5vw;
        z-index: 3;
        background-color: $green;
        -webkit-box-shadow: -1.5vw 1.5vw 0.5vw 0 rgba(0,0,0,0.25);
        -moz-box-shadow: -1.5vw 1.5vw 0.5vw 0 rgba(0,0,0,0.25);
        box-shadow: -1.5vw 1.5vw 0.5vw 0 rgba(0,0,0,0.25);
        .innerCard {
          position: absolute;
          margin: 0.5vw 0.5vw 0.5vw 0.5vw;
          width: 14vw;
          height: 14vw;
          background-color: $gameCardbg;
          border-radius: 1vw;
          z-index: 4;
        }
      }
      &.typeYellow {
        width: 13vw;
        height: 13vw;
        margin-top: -6.5vw;
        z-index: 3;
        background-color: $yellow;
        .innerCard {
          position: absolute;
          margin: 0.4vw 0.4vw 0.4vw 0.4vw;
          width: 12vw;
          height: 12vw;
          background-color: $gameCardbg;
          border-radius: 1vw;
          z-index: 4;
        }
        @keyframes cardArrowDownAnimation {
          from {margin-top: -4vh;}
          to {margin-top: -2vh;}
        }
        img {
          animation-name: arrowDownAnimation;
          animation-duration: 0.5s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
          position: absolute;
          margin-top: -4vh;
          left: 50%;
          margin-left: -12px;
        }
        &.card4 {
          left: 33vw;
        }
        &.card5 {
          left: 55vw;
        }
        &.card6 {
          left: 77vw;
        }
      }
    }
    
    .cardNumber {
      text-align: center;
      font-family: Bruno Ace SC;
      &.greenCard {
        font-size: 4vw;
        line-height: 15vw;
        z-index: 5;
      }
      &.yellowCard {
        font-size: 3.5vw;
        line-height: 13vw;
        z-index: 4;
      }
    }
  }
}

.rule3 {
  height: 32vh;
  .rule1Text {
    padding-top: 2vh;
    font-size: 4vw;
    text-align: center;
    width: 100%;
    height: 12vh;
    font-family: Bruno Ace SC;
  }
  .rule1Image {
    position: relative;
    width: 100%;
    height: 18vh;
    background-color: $ruleImageColor;
    .gameCard {
      position: absolute;
      top: 50%;
      border-radius: 1vw;
      -webkit-box-shadow: -1vw 1vw 0.5vw 0 rgba(0,0,0,0.25);
      -moz-box-shadow: -1vw 1vw 0.5vw 0 rgba(0,0,0,0.25);
      box-shadow: -1vw 1vw 0.5vw 0 rgba(0,0,0,0.25);
      @keyframes rule3Animation {
        50% {
          left: 37.5vw;
        }
        60% {
          left: 39.5vw;
        }
        70% {
          left: 35.5vw;
        }
        80% {
          left: 39.5vw;
        }
        90% {
          left: 35.5vw;
        }
        100% {
          left: 37.5vw;
        }
      }
      &.type21red {
        left: 37.5vw;
        width: 25vw;
        height: 25vw;
        margin-top: -12.5vw;
        z-index: 3;
        background-color: $red;
        -webkit-box-shadow: -2vw 2vw 0.5vw 0 rgba(0,0,0,0.25);
        -moz-box-shadow: -2vw 2vw 0.5vw 0 rgba(0,0,0,0.25);
        box-shadow: -2vw 2vw 0.5vw 0 rgba(0,0,0,0.25);

        animation-name: rule3Animation;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        .innerCard {
          position: absolute;
          margin: 1vw 1vw 1vw 1vw;
          width: 23vw;
          height: 23vw;
          background-color: $gameCardbg;
          border-radius: 1vw;
          z-index: 4;
        }
      }
      &.type20green {
        left: 5vw;
        width: 23vw;
        height: 23vw;
        margin-top: -11.5vw;
        z-index: 3;
        background-color: $green;
        .innerCard {
          position: absolute;
          margin: 1vw 1vw 1vw 1vw;
          width: 21vw;
          height: 21vw;
          background-color: $gameCardbg;
          border-radius: 1vw;
          z-index: 4;
        }
      }
      &.type1 {
        left: 8vw;
        width: 23vw;
        height: 23vw;
        margin-top: -11.5vw;
        z-index: 3;
        background-color: $yellow;
        .innerCard {
          position: absolute;
          margin: 1vw 1vw 1vw 1vw;
          width: 21vw;
          height: 21vw;
          background-color: $gameCardbg;
          border-radius: 1vw;
          z-index: 4;
        }
      }
    }
    
    .cardNumber {
      text-align: center;
      font-family: Bruno Ace SC;
      &.firstCard {
        font-size: 5vw;
        line-height: 24vw;
        z-index: 5;
      }
      &.secondCard {
        font-size: 4.5vw;
        line-height: 23vw;
        z-index: 4;
      }
      &.thirdCard {
        font-size: 4.5vw;
        line-height: 23vw;
        z-index: 3;
      }
    }
  }
}

.startButton {
  position: relative;
  @keyframes startButtonAnimation {
    from {
      background-color: floralwhite;
    }
    to {
      background-color: $green;
    }
  }
  a {
    animation-name: startButtonAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
    text-align: center;
    font-family: Bruno Ace SC;
    font-size: 3vh;
    width: 45vw;
    margin: 1vh auto 0 auto;
    line-height: 4vh;
    border: 1vw solid $green;
    border-radius: 15vw;
    -webkit-box-shadow: -1vw 1vw 0.5vw 0 rgba(0,0,0,0.25);
    -moz-box-shadow: -1vw 1vw 0.5vw 0 rgba(0,0,0,0.25);
    box-shadow: -1vw 1vw 0.5vw 0 rgba(0,0,0,0.25);
    background-color: floralwhite;
  }
  a:active {
    background-color: $green;
  }
  height: 4vh;
}


.rankings {
  height: 48vh;
  .rankingText {
    padding-top: 2vh;
    width: 100%;
    font-family: $main-font;
    font-size: 5vw;
    text-align: center;
  }
  .rankingTable {
    padding-left: 10%;
    width: 90%;
    height: 35vh;
  }
}

.mainGame {
  max-width: 100vw;
  height: 30vh;
  position: relative;
  overflow-x: hidden;
  .moveOrder {
    width: 100%;
    height: 14vh;
    margin-bottom: -7vh;
    .startingCard {
      position: absolute;
      left: 50%;
      margin-left: -7vh;
      width: 14vh;
      height: 14vh;
      z-index: 2;
      background-color: $green;
      border-radius: 1vh;
      .innerCard {
        position: absolute;
        margin: 0.8vh 0.8vh 0.8vh 0.8vh;
        width: 12.4vh;
        height: 12.4vh;
        background-color: $gameCardbg;
        border-radius: 0.5vh;
        z-index: 3;
        .startingCardNumber {
          text-align: center;
          font-family: Bruno Ace SC;  
          font-size: 3vh;
          line-height: 13vh;
          z-index: 5;
        }
      }
    }
    .orderingCard {
      position: absolute;
      left: 50%;
      margin-left: -10vh;
      width: 20vh;
      height: 14vh;
      background-color: $green;
      border-radius: 1vh;
      .innerCard {
        position: absolute;
        margin: 0.5vh 0.5vh 0.5vh 0.5vh;
        width: 19vh;
        height: 13vh;
        background-color: $gameCardbg;
        border-radius: 0.5vh;
        .orderingCardText {
          text-align: center;
          font-family: Bruno Ace SC;  
          font-size: 2vh;
          line-height: 7vh;
        }
      }
    }
  }
  .cardsRow {
    height: 23vh;
    margin-left: -5vw;
    margin-right: -5vw;
    width: 110vw;
    background-color: $ruleImageColor;
    border: 1vw solid $green;
    border-left-color: transparent;
    border-right-color: transparent;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.playCard {
  flex: 1;
  max-width: 25vw;
  height: 25vw;
  background-color: $yellow;   
  margin: 0 3vw 0 3vw;
  @keyframes selected {
    from { transform: translate(0, 0); }
    to { transform: translate(0, -10%); }
  }
  &.selected {
    background-color: $green;
  }
  &.redCard {
    background-color: $red;
  }
}


@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fadeIn {
  animation-name: fadeIn;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.fadeOut {
  animation-name: fadeOut;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.underGameText {
  position: relative;
  width: 100%;
  height: 15vh;
  .orderAskText {
    padding-top: 2vh;
    width: 100%;
    font-family: $main-font;
    font-size: 5vw;
    text-align: center;
  }
  .orderBtn {
    position: absolute;
    top: 50%;
    text-align: center;
    font-family: Bruno Ace SC;
    font-size: 2vh;
    width: 30vw;
    height: 5vh;
    line-height: 4vh;
    border: 1vw solid $green;
    border-radius: 15vw;
    -webkit-box-shadow: -1vw 1vw 0.5vw 0 rgba(0,0,0,0.25);
    -moz-box-shadow: -1vw 1vw 0.5vw 0 rgba(0,0,0,0.25);
    box-shadow: -1vw 1vw 0.5vw 0 rgba(0,0,0,0.25);
    background-color: floralwhite;
    @keyframes orderSelectAnimationFirst {
      from {
        background-color: $green;
      }
      to {
        background-color: floralwhite;
      }
    }
    @keyframes orderSelectAnimationSecond {
      from {
        background-color: floralwhite;
      }
      to {
        background-color: $green;
      }
    }
    &.first {
      margin-left: 15vw;
      animation-name: orderSelectAnimationFirst;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-out;
    }
    &.second {
      margin-left: 55vw;
      animation-name: orderSelectAnimationSecond;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in;
    }
  }
}
.gameOrderingControls {
  position: relative;
  width: 100%;
  height: 15vh;
  .orderBtn {
    position: absolute;
    top: 50%;
    left: 35vw;
    text-align: center;
    font-family: Bruno Ace SC;
    font-size: 2vh;
    width: 30vw;
    height: 5vh;
    line-height: 4vh;
    border: 1vw solid $green;
    border-radius: 15vw;
    -webkit-box-shadow: -1vw 1vw 0.5vw 0 rgba(0,0,0,0.25);
    -moz-box-shadow: -1vw 1vw 0.5vw 0 rgba(0,0,0,0.25);
    box-shadow: -1vw 1vw 0.5vw 0 rgba(0,0,0,0.25);
    background-color: floralwhite;
    @keyframes orderSelectAnimation {
      from {
        background-color: $green;
      }
      to {
        background-color: floralwhite;
      }
    }
    &.confirmation {
      animation-name: orderSelectAnimation;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-out;
    }
    &.waiting {
      border-color: floralwhite;
    }
  }
}
// For desktop
@media (min-width: 1025px) {
  #cardsGroup {
    padding: 0;
    height: 100vh;
    position: relative;
  }
  
  .gameCard {
    position: relative;
    top: 50%;
    border-radius: 2vh;
    -webkit-box-shadow: -1vw 1vw 0.5vw 0 rgba(0,0,0,0.25);
    -moz-box-shadow: -1vw 1vw 0.5vw 0 rgba(0,0,0,0.25);
    box-shadow: -1vw 1vw 0.5vw 0 rgba(0,0,0,0.25);
    @keyframes card21AnimWide {
      from {margin-right: 15vw;}
      to {margin-right: 0vw;}
    }
    @keyframes card20AnimWide {
      from {margin-right: -15vw; margin-left: -15vw;}
      to {margin-right: -5vw; margin-left: 0vw;}
    }
    @keyframes card19AnimWide {
      from {margin-right: -15vw;}
      to {margin-right: -5vw;}
    }
    &.type21 {
      float: right;
      width: 40vh;
      height: 40vh;
      margin-top: -27.5vh;
      z-index: 3;
      animation-name: card21AnimWide;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      background-color: $green;
      .innerCard {
        position: absolute;
        margin: 1.5vh 1.5vh 1.5vh 1.5vh;
        width: 37vh;
        height: 37vh;
        background-color: $gameCardbg;
        border-radius: 1vh;
        z-index: 4;
      }
    }
    &.type20 {
      float: right;
      margin: -25vh -5vw 0 0;
      width: 35vh;
      height: 35vh;
      z-index: 2;
      animation-name: card20AnimWide;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      background-color: $yellow;
      .innerCard {
        position: absolute;
        margin: 1.25vh 1.25vh 1.25vh 1.25vh;
        width: 32.5vh;
        height: 32.5vh;
        background-color: $gameCardbg;
        border-radius: 1vh;
        z-index: 4;
      }
    }
    &.type19 {
      float: right;
      margin: -22.5vh -5vw 0 3vw;
      width: 30vh;
      height: 30vh;
      z-index: 1;
      animation-name: card19AnimWide;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      background-color: $yellow;
      .innerCard {
        position: absolute;
        margin: 1vh 1vh 1vh 1vh;
        width: 28vh;
        height: 28vh;
        background-color: $gameCardbg;
        border-radius: 1vh;
        z-index: 4;
      }
    }
  }

  .cardNumber {
    text-align: center;
    font-family: Bruno Ace SC;
    &.firstCard {
      font-size: 8vh;
      line-height: 38vh;
      z-index: 5;
    }
    &.secondCard {
      font-size: 7.5vh;
      line-height: 33vh;
      z-index: 4;
    }
    &.thirdCard {
      font-size: 7vh;
      line-height: 28vh;
      z-index: 3;
    }
  }

  @keyframes hpTextAnim {
    from {opacity: 0; padding-top: 10vh;}
    to {opacity: 1; padding-top: 0;}
  }
  #homePageText {
    padding: 10vw 0 0 0;
    height: 40vh;
    position: relative;
    font-family: Bruno Ace SC;
    text-align: center;
    .text1 {
      font-size: 9vh;
      padding-bottom: 5vh;
    }
    .text2 {
      font-size: 7vh;
    }
  }
  .textsGroup {
    animation-name: hpTextAnim;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }

  .toRules {
    background-color: $green;
    bottom: 0;
    width: 100%;
    font-family: Bruno Ace SC;
    height: 8vh;
    position: absolute !important;
    text-align: center;
    align-items: center;
    @keyframes arrowDownAnimation {
      from {padding-top: 0vh;}
      to {padding-top: 0.8vh;}
    }
    img {
      animation-name: arrowDownAnimation;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
    div {
      font-size: 3vh;
    }
  }
  
}
